# List

- list defination
- insert, append
- pop, del, remove
- "+" concatination
- slicing

In [17]:
cities = ["Karachi","Isalamabad","Lahore","Peshawar","Queta","Multan"]

In [18]:
cities

['Karachi', 'Isalamabad', 'Lahore', 'Peshawar', 'Queta', 'Multan']

In [3]:
cities[3]

'Peshawar'

In [4]:
cities[0]

'Karachi'

In [5]:
cities[4]

'Queta'

In [6]:
cities[-2]

'Queta'

In [7]:
print(cities[-2])

Queta

In [8]:
print?

In [9]:
print??

In [10]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [11]:
len(cities)

6

In [12]:
cities.index("Queta")

4

In [13]:
cities

['Karachi', 'Isalamabad', 'Lahore', 'Peshawar', 'Queta', 'Multan']

In [19]:
cities.append("Karachi East")
cities

['Karachi',
 'Isalamabad',
 'Lahore',
 'Peshawar',
 'Queta',
 'Multan',
 'Karachi East']

In [9]:
print?

In [10]:
print??

In [11]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [20]:
cities

['Karachi',
 'Isalamabad',
 'Lahore',
 'Peshawar',
 'Queta',
 'Multan',
 'Karachi East']

In [21]:
cities.append(47.7)

In [22]:
cities

['Karachi',
 'Isalamabad',
 'Lahore',
 'Peshawar',
 'Queta',
 'Multan',
 'Karachi East',
 47.7]

In [23]:
type(cities)

list

In [26]:
[1,4] + [7,8,9] + [12,25]

[1, 4, 7, 8, 9, 12, 25]

In [27]:
nlist=["Dubuque", "New Orleans"]
cities = cities + nlist
cities

['Karachi',
 'Isalamabad',
 'Lahore',
 'Peshawar',
 'Queta',
 'Multan',
 'Karachi East',
 47.7,
 'Dubuque',
 'New Orleans']

In [28]:
cities.extend(['a','b','c'])

In [33]:
cities

['Karachi',
 'Isalamabad',
 'Lahore',
 'Peshawar',
 'Queta',
 'Multan',
 'Karachi East',
 'Dubuque',
 'New Orleans',
 'a',
 'b',
 'c']

In [32]:
del cities[7]

In [34]:
sorted(cities) #Inplace

['Dubuque',
 'Isalamabad',
 'Karachi',
 'Karachi East',
 'Lahore',
 'Multan',
 'New Orleans',
 'Peshawar',
 'Queta',
 'a',
 'b',
 'c']

In [35]:
cities

['Karachi',
 'Isalamabad',
 'Lahore',
 'Peshawar',
 'Queta',
 'Multan',
 'Karachi East',
 'Dubuque',
 'New Orleans',
 'a',
 'b',
 'c']

In [36]:
cities.append(['c','d','e','f'])
cities

['Karachi',
 'Isalamabad',
 'Lahore',
 'Peshawar',
 'Queta',
 'Multan',
 'Karachi East',
 'Dubuque',
 'New Orleans',
 'a',
 'b',
 'c',
 ['c', 'd', 'e', 'f']]

In [42]:
cities[0:2]+cities[-3:-1]
cities[-1][2]

'e'

In [43]:
todays_tasks = []

In [44]:
todays_tasks

[]

In [45]:
todays_tasks = todays_tasks + ["Walk dog", "Buy groceries"]
todays_tasks

['Walk dog', 'Buy groceries']

In [46]:
cities

['Karachi',
 'Isalamabad',
 'Lahore',
 'Peshawar',
 'Queta',
 'Multan',
 'Karachi East',
 'Dubuque',
 'New Orleans',
 'a',
 'b',
 'c',
 ['c', 'd', 'e', 'f']]

In [47]:
cities[0] 
cities[1] 
cities[2] 
cities[3] 
cities[4] 
cities[5]

'Multan'

In [48]:
print(cities[0])
print(cities[1])
print(cities[2])
print(cities[3])
print(cities[4]) 
print(cities[5])

Karachi
Isalamabad
Lahore
Peshawar
Queta
Multan

In [50]:
cities.insert(2,"Hyderabad")
del cities[-1]
cities

['Karachi',
 'Isalamabad',
 'Hyderabad',
 'Hyderabad',
 'Lahore',
 'Peshawar',
 'Queta',
 'Multan',
 'Karachi East',
 'Dubuque',
 'New Orleans',
 'a',
 'b',
 'c']

In [51]:
cities.insert(30,'Lahore')

In [52]:
cities[30]

IndexError: list index out of range

In [53]:
cities[14]

'Lahore'

In [54]:
cities[20]

IndexError: list index out of range

In [55]:
cities

['Karachi',
 'Isalamabad',
 'Hyderabad',
 'Hyderabad',
 'Lahore',
 'Peshawar',
 'Queta',
 'Multan',
 'Karachi East',
 'Dubuque',
 'New Orleans',
 'a',
 'b',
 'c',
 'Lahore']

In [56]:
cities[0] = "KHI"
cities

['KHI',
 'Isalamabad',
 'Hyderabad',
 'Hyderabad',
 'Lahore',
 'Peshawar',
 'Queta',
 'Multan',
 'Karachi East',
 'Dubuque',
 'New Orleans',
 'a',
 'b',
 'c',
 'Lahore']

In [57]:
cities[11] = "Islamabad"
cities

['KHI',
 'Isalamabad',
 'Hyderabad',
 'Hyderabad',
 'Lahore',
 'Peshawar',
 'Queta',
 'Multan',
 'Karachi East',
 'Dubuque',
 'New Orleans',
 'Islamabad',
 'b',
 'c',
 'Lahore']

# Slicing
- list[start:end:step]
    - start (inclusive)
    - end (exclusive)
    - step (number of element which we will take)

- list[slide,rows,columns] (we will cover from next book)

In [60]:
cities

['KHI',
 'Isalamabad',
 'Hyderabad',
 'Hyderabad',
 'Lahore',
 'Peshawar',
 'Queta',
 'Multan',
 'Karachi East',
 'Dubuque',
 'New Orleans',
 'Islamabad',
 'b',
 'c',
 'Lahore']

Traditional Method for slicing

In [62]:
for i in range(4,12):
    print(cities[i])

Lahore
Peshawar
Queta
Multan
Karachi East
Dubuque
New Orleans
Islamabad

In [63]:
for city in cities:
    print(city)

KHI
Isalamabad
Hyderabad
Hyderabad
Lahore
Peshawar
Queta
Multan
Karachi East
Dubuque
New Orleans
Islamabad
b
c
Lahore

In [64]:
l = list(range(0,101))
l

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [65]:
l[11:21]

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [66]:
l[5:20:2]

[5, 7, 9, 11, 13, 15, 17, 19]

In [67]:
l[5:51:5]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [68]:
l[3:31:3]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [70]:
l[-10:100]

[91, 92, 93, 94, 95, 96, 97, 98, 99]

In [71]:
l[-20:-30]

[]

In [72]:
l[-20:-30:-1]

[81, 80, 79, 78, 77, 76, 75, 74, 73, 72]

In [73]:
l[::-1]

[100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [76]:
l

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [79]:
l.reverse()

In [80]:
l

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [82]:
l2=l[5:11]
l2

[5, 6, 7, 8, 9, 10]

In [83]:
l2[0]

5

In [84]:
l2[0]=500
l2

[500, 6, 7, 8, 9, 10]

In [85]:
l3=l2
l3

[500, 6, 7, 8, 9, 10]

In [86]:
l3[0]=1000
l2

[1000, 6, 7, 8, 9, 10]

In [87]:
l4=l3.copy()
l4[0]=2000
print(l4)
l3

[2000, 6, 7, 8, 9, 10]

[1000, 6, 7, 8, 9, 10]

In [88]:
l4=l3[:]
l4[0]=2000
print(l4)
l3

[2000, 6, 7, 8, 9, 10]

[1000, 6, 7, 8, 9, 10]

In [89]:
l[90:]

[90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [90]:
l[:5]

[0, 1, 2, 3, 4]

In [91]:
cities[2:8]

['Hyderabad', 'Hyderabad', 'Lahore', 'Peshawar', 'Queta', 'Multan']

In [92]:
print(cities)
print(cities[::2])

['KHI', 'Isalamabad', 'Hyderabad', 'Hyderabad', 'Lahore', 'Peshawar', 'Queta', 'Multan', 'Karachi East', 'Dubuque', 'New Orleans', 'Islamabad', 'b', 'c', 'Lahore']
['KHI', 'Hyderabad', 'Lahore', 'Queta', 'Karachi East', 'New Orleans', 'b', 'Lahore']

In [93]:
l[1::2]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [94]:
l[2::2]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [95]:
l[10:10]

[]

# Lists: Taking slices out of them

In [96]:
cities = ["Atlanta", "Baltimore", "Chicago",\
"Denver", "Los Angeles", "Seattle"]
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [97]:
smaller_list_of_cities = cities[2:5]
smaller_list_of_cities

['Chicago', 'Denver', 'Los Angeles']

In [98]:
cities[1:1:1]

[]

In [99]:
cities[0:0]

[]

In [100]:
print(cities)
print(cities[:5])

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']
['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles']

In [101]:
smaller_list_of_cities = cities[2:]
print(cities)
print(smaller_list_of_cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']
['Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [102]:
smaller_list_of_cities = cities[2:5]
print(cities)
print(smaller_list_of_cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']
['Chicago', 'Denver', 'Los Angeles']

# 18 Lists: Deleting and removing elements

In [103]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]
tasks

['email Frank', 'call Sarah', 'meet with Zach']

In [104]:
del tasks[0]
tasks

['call Sarah', 'meet with Zach']

In [105]:
del tasks[222222:28888888]
tasks

['call Sarah', 'meet with Zach']

In [106]:
cities.append('Chicago')
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'Chicago']

In [108]:
cities.remove("Chicago")
cities

['Atlanta', 'Baltimore', 'Denver', 'Los Angeles', 'Seattle']

# 19 Lists: popping elements

In [109]:
tasks = ["email Frank", "call Sarah", "meet withZach"]
tasks

['email Frank', 'call Sarah', 'meet withZach']

In [110]:
latest_task_accomplished = tasks.pop(1)

In [111]:
print(tasks)
print(latest_task_accomplished)

['email Frank', 'meet withZach']
call Sarah

In [112]:
tasks_accomplished=[]

tasks_accomplished.append(tasks.pop(1))
tasks_accomplished

['meet withZach']

In [113]:
tasks

['email Frank']

In [114]:
names = ["Qasim","Owais","Hamza","Junaid","Rashid","Konain"]
names

['Qasim', 'Owais', 'Hamza', 'Junaid', 'Rashid', 'Konain']

In [115]:
names.append("Ali")
names

['Qasim', 'Owais', 'Hamza', 'Junaid', 'Rashid', 'Konain', 'Ali']

In [116]:
names.insert(1, "Imran Khan")
names

['Qasim', 'Imran Khan', 'Owais', 'Hamza', 'Junaid', 'Rashid', 'Konain', 'Ali']

In [117]:
del names[5]
names

['Qasim', 'Imran Khan', 'Owais', 'Hamza', 'Junaid', 'Konain', 'Ali']

In [118]:
select_students=[]

In [119]:

select_students.append(names.pop(3))
names

['Qasim', 'Imran Khan', 'Owais', 'Junaid', 'Konain', 'Ali']

In [120]:
select_students

['Hamza']

In [121]:
select_students.append(names.pop())
names

['Qasim', 'Imran Khan', 'Owais', 'Junaid', 'Konain']

In [122]:
select_students

['Hamza', 'Ali']

In [123]:
names

['Qasim', 'Imran Khan', 'Owais', 'Junaid', 'Konain']

In [124]:
names[0]=names[1]=names[3]="Pakistan zinda bad"
names

['Pakistan zinda bad',
 'Pakistan zinda bad',
 'Owais',
 'Pakistan zinda bad',
 'Konain']

In [125]:
names[-1]

'Konain'

In [126]:
names[-2]

'Pakistan zinda bad'

In [127]:
names[::-1]

['Konain',
 'Pakistan zinda bad',
 'Owais',
 'Pakistan zinda bad',
 'Pakistan zinda bad']

In [128]:
a = list(range(1,100))
a[::2]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [129]:
len(cities)

5

In [130]:
select_students

['Hamza', 'Ali']

In [131]:
select_students.clear()

In [132]:
select_students

[]

In [133]:
names

['Pakistan zinda bad',
 'Pakistan zinda bad',
 'Owais',
 'Pakistan zinda bad',
 'Konain']

In [134]:
cities

['Atlanta', 'Baltimore', 'Denver', 'Los Angeles', 'Seattle']

In [135]:
cities=cities+['Atlanta',"Karachi",'Atlanta']
cities

['Atlanta',
 'Baltimore',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Atlanta',
 'Karachi',
 'Atlanta']

In [139]:
cities[1:].count("Atlanta")

2

In [138]:
cities.index("Atlanta",1)

5

In [140]:
cities

['Atlanta',
 'Baltimore',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Atlanta',
 'Karachi',
 'Atlanta']

In [141]:
cities.reverse()
cities

['Atlanta',
 'Karachi',
 'Atlanta',
 'Seattle',
 'Los Angeles',
 'Denver',
 'Baltimore',
 'Atlanta']

In [142]:
cities.sort()
cities

['Atlanta',
 'Atlanta',
 'Atlanta',
 'Baltimore',
 'Denver',
 'Karachi',
 'Los Angeles',
 'Seattle']

In [143]:
l.sort(reverse=True)
l

[100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [147]:
sorted(l)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [148]:
l

[100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]