# Zen of Python

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Variables and Data types

- int
- float
- string
- list
- tuple
- dictionary

In [3]:
user_name = "Muhammad Osama"
age = 50
cnic ="42201-1234567-1"
print(user_name)
print(age)
print(cnic)

Muhammad Osama
50
42201-1234567-1

# Data Types

In [4]:
print(1+1)
print('1' + '1')

2
11

### String Data type

In [15]:
name = "              Muhammad Qasim     Muhammad Aslam     "
name

'              Muhammad Qasim     Muhammad Aslam     '

In [6]:
type(name)

str

In [25]:
a=10; # int
b=20.5; # float
c=[20,21,25,'ali']; # list
d={'name':'qasim','fName':'Muhammd Aslam'}; #Dictionary
e=(20,22,25,88,'ad',33); # Tuple
print('name', type(name));
print('a', type(a));
print('b',type(b));
print('c',type(c));
print('d',type(d));
print('e',type(e));

name <class 'str'>
a <class 'int'>
b <class 'float'>
c <class 'list'>
d <class 'dict'>
e <class 'tuple'>

In [11]:
name,age,cnic='Qasim',50,'22222'
print(cnic)
print(name)
print(age)

Qasim
50
22222

In [12]:
type(222.5)

float

In [13]:
a,b,c =[1,5,6]
a

1

In [16]:
name

'              Muhammad Qasim     Muhammad Aslam     '

In [18]:
name.lstrip()

'Muhammad Qasim     Muhammad Aslam     '

In [19]:
name.rstrip()

'              Muhammad Qasim     Muhammad Aslam'

In [20]:
name1=name.strip()
name1

'Muhammad Qasim     Muhammad Aslam'

In [21]:
name1.capitalize()

'Muhammad qasim     muhammad aslam'

In [22]:
name1.upper()

'MUHAMMAD QASIM     MUHAMMAD ASLAM'

In [23]:
name1.lower()

'muhammad qasim     muhammad aslam'

In [24]:
name1.title()

'Muhammad Qasim     Muhammad Aslam'

In [26]:
c

[20, 21, 25, 'ali']

In [28]:
# %load abc.py
print("First Class")
print("Hello World")
print(2+4+4)
print("Good By!")

First Class
Hello World
10
Good By!

In [29]:
%run abc.py

First Class
Hello World
10
Good By!

In [30]:
%time a

Wall time: 0 ns

10